<div class="user-info-dropdown"
     #dropdownToggler
     (click)="toggleDropdown()"
>
    <img src="{{user.avatarUrl}}" class="avatar" width="30" height="30" alt="user avatar">
    {{ user.username }}
    <fa-icon [size]="'1x'" [icon]="dropdownToggled ? dropdownActiveIcon : dropdownInactiveIcon"></fa-icon>
</div>

@if (dropdownToggled) {
    <div class="dropdown" #dropdownContent>
        <div class="top"></div>
        <div class="middle">
            @for (item of middleActions; track item) {
                <a class="nav-item" (click)="item.action()"> {{ item.title }}</a>
            }
        </div>
        <div class="bottom">
            @for (item of bottomActions; track item) {
                <a class="nav-item" (click)="item.action()"> {{ item.title }}</a>
            }
        </div>
    </div>
}