:host {
  position: relative;
  width: fit-content;
  cursor: pointer;

  .user-info-dropdown {
    display: flex;
    align-items: center;
    gap: .5rem;
    user-select: none;

    .avatar {
      border-radius: 50%;
    }
  }

  .dropdown {
    position: absolute;
    right: 0;
    top: calc(100% + .15rem);
    background-color: #000e1a; // TODO: consider which color to use for dropdowns
    //background-color: #112136; // TODO: move to css variable + make a bit lighter
    width: fit-content;
    border-radius: .6rem;
    padding: .5rem;

    > div {
      width: max-content;
      display: flex;
      flex-direction: column;
    }
    .top {
      border-bottom: 1px solid #b2b2b2;
    }

    .bottom {
      border-top: 1px solid #b2b2b2;
    }

    a {
      color: #b2b2b2; // TODO: move to css variable + check if this is not too dark
      text-decoration: none;
      padding: .25rem;
      cursor: pointer;
      transition: .3s ease;

      &:hover {
        color: white;
      }
    }
  }
}