:host {
  .page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    gap: 1.5rem;
  }
}